.sidebar {

  --scrollbar-thumb: transparent;

  height: 100%;
  padding-top: 20px;
  margin-bottom: 20px;
  overflow-y: auto;

}

.sidebar::-webkit-scrollbar {
  width: 8px; 
}

/* The track (background) */
.sidebar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* The thumb (draggable part) */
.sidebar::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: var(--scrollbar-thumb);
}

/* on hover change variable value so the thumbs color changes */
.sidebar:hover{
  --scrollbar-thumb: rgb(181, 179, 179);
   
}

.side {
  border: 3px solid palevioletred;
  height: 1000px;
}

.sidebar>*:hover {
  background-color: #4e4d4d
}

.copyright {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  color:rgb(170, 170, 170);

}
.llc{
  font-size: 12px;
  padding-bottom: 10px;
}