.sidebutton{
    margin: 0 20px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 15px;
    padding: 10px;
}
.img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.content{
    text-align: left;
    width: 100px;
    margin-left: 10%;
}
.collapse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
}
/* because subscription channel image have border radius */
.collapse .img{ 
    border-radius: 0;
}

.reduce{
    font-size: 0.7rem;
}