.cardContainer {
    margin: 10px;
    margin-top: 25px;
    border-radius: 20px;
    position: relative;
    z-index: 0;
}

.cardContainer::before {
    content: "";
    position: absolute;
    inset: -15px;
    background-color: rgba(96, 97, 97, 0.467);
    z-index: -1;
    opacity: 0;
    border-radius: 20px;
    transition: all 1s;
}

.cardContainer:hover::before {
    opacity: 1;
}

.img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 3px;

}

.videoInfoContainer {
    display: flex;
    gap: 10px;

}

.channelProfile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: royalblue;
}

.videoData {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    font-weight: bold;
    font-size: large;
}

.channelName,
.viewsTime {
    color: rgb(150, 149, 149);

    font-weight: 600;
}