.videos{
    padding: 0px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
}

@media (max-width: 1150px){

        .videos{
            grid-template-columns: repeat(2,1fr);
        }

}
@media (max-width: 830px){

        .videos{
            grid-template-columns: repeat(1,1fr);
        }

}